.friend-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.friend-cont div img{
    object-fit: cover;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}