.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 3rem;
}

.form-login{
    padding: 5rem;
}

.change-login{
    padding: 0 5rem;
}

.change-login p{
    text-decoration: underline;
}