.navbar-home{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links-section{
  display: flex;
  flex-direction: row;
}

.navbar-nav .nav-item p{
  margin-bottom: 0;
}

.btn-logout{
  margin-left: .5rem;
}